body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin:0px;
    }



h1{
    font-size:
}
p{
    font-size: ;
}
header{
    border-bottom: solid 2px rgb (orange);
    padding:20px;
    font-size: 30px;
    font-size: 30px;
    color:blue;

}
